<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSansArabic-bold.otf</string>
		<string>IBMPlexSansArabic-extraLight.otf</string>
		<string>IBMPlexSansArabic-semiBold.otf</string>
		<string>IBMPlexSansArabic-regular.otf</string>
		<string>IBMPlexSansArabic-medium.otf</string>
		<string>IBMPlexSansArabic-light.otf</string>
		<string>IBMPlexSansArabic-text.otf</string>
		<string>IBMPlexSansArabic-thin.otf</string>
	</array>
</dict>
</plist>
